__pycache__/
*.py[cod]
*$py.class

.env-backup-*/
.idea/

.pytest_cache/
.mypy_cache/
.ruff_cache/

build/
bin/
dist/
release/
.buildozer/
*.spec.bak

data/save_data.json
data/settings_data.json

*.log
